* {
    margin: 1px dotted red;
    margin: 0;
    padding: 0
}

body, input[type="button"] {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(#f6f7f8 0%, #e7e8e9 33.33%, #cbd0d6 66.67%, #ccdcec 100%);
}

header {
    text-align: center;
    font-weight: 600;
    font-size: xx-large;
    height: 120px;
    top: 50px;
    padding: 20px 0;
}

header :nth-child(1) {
    font-size: 1.77em;
    font-weight: 900;
    color: rgb(0, 0, 166);
}

main, footer {
    margin: 0 auto;
    display: flex;
    align-items: center; 
    justify-content: center;
}

textarea {
    display: inline-block;
    margin: 10px 30px;
    width: 440px;
    height: 140px;
    border-radius: 16px;
    background: #e9eae8;
    resize: vertical;
    border: 1px dotted #84a0fc;
    padding: 12px 20px;
    font-size: 24px;
    font-weight: 600;
}

main span {
    display: inline-block;
    width: 220px;
    text-align: center;    
}

main span::before {
    content: ">> Encriptalo >>";
}

footer button {
    display: inline-block;
    color: #ececf7;
    background: navy;
    gap: 2em;
    font-size: larger;
    margin: 4px 25px;
    padding: 4px 25px;
    border-radius: 16px;
}

body>p {
    font-size: medium;
    text-align: center;
    color: blue;
    padding: 10px 0;
}

@media screen and (max-width: 480px) {

    footer button {
        margin: 4px 5px;
        padding: 4px 10px;
    }

    main {
        flex-direction: column-reverse;       
    }

    textarea {
        width: 95%;
        margin: 3px 35px;
    }

    main span {
        width: 300px;
        margin: 4px auto;
    }

    main span::before {
        content: "<<<<< Encriptalo <<<<<";
    }

    header {
        height: 70px;
        font-size: medium;
    }

    body>p {
        font-size: smaller;
        color: red;
    }
        
}
